body,
h1,
h2,
h3,
p,
ul {
  padding: 0px;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: $base-font-family;
  background: $color-theme-03;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
}
