.intro-section {
  > .swiper-intro-section {
    height: 600px;

    > .swiper-wrapper {
      > .swiper-slide {
        > img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.category-section {
  padding: 20px;
  display: flex;
  background-color: $color-theme-03;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  > .image-category {
    margin: 10px 20px;
    > img {
      @include box-shadow(0px, 5px, 15px, rgba(0, 0, 0, 0.35));
      width: 170px;
      height: 170px;
      @include rounded(50%);
      border: 5px solid $color-theme-02;
    }
  }
}

.about-section {
  background-color: $color-theme-01;
  @include for-size(desktop-up) {
    height: 600px;
  }
  > .container {
    flex-wrap: wrap;
    @include for-size(desktop-up) {
      padding-top: 60px;
    }

    > .info {
      width: 50px;
      flex: 2 1 300px;
      padding: 20px;

      @include for-size(desktop-up) {
        padding: 60px 10px 0 10px;
        flex: 2 1 300px;
      }

      > p {
        font-size: $font-size-base;
        line-height: $line-size-sm;
        color: $color-theme-02;
        margin-bottom: 30px;
      }

      > h3 {
        font-size: $font-size-md;
        color: $color-theme-02;
        margin-bottom: 30px;
      }

      > .arrow-down-box {
        position: relative;
        top: 80px;

        > .arrow-down {
          background-color: $color-theme-02;
          height: 5px;
          width: 90px;
          position: absolute;
          cursor: pointer;
          transform: rotate(90deg);
          display: none;

          @include for-size(desktop-up) {
            display: block;
          }

          &:before,
          &:after {
            content: '';
            background-color: $color-theme-02;
            position: absolute;
            height: 5px;
            width: 15px;
          }

          &:before {
            right: -3px;
            bottom: -4px;
            transform: rotate(-45deg);
            @include rounded(20px);
          }

          &:after {
            right: -3px;
            top: -4px;
            transform: rotate(45deg);
            @include rounded(20px);
          }
        }
      }
    }
    > .banner-unico {
      flex: 1 1 400px;
      padding-top: 60px;

      @include for-size(tablet-portrait-up) {
        padding-top: 20px;
        flex: 1 1 400px;
      }

      > .card {
        text-align: center;
        background-color: $color-theme-01;

        @include for-size(desktop-up) {
          @include box-shadow-multiple(
            0 4px 10px 0 rgba(0, 0, 0, 0.2),
            0 4px 20px 0 rgba(0, 0, 0, 0.19)
          );
        }

        > .img-big {
          height: 400px;
          border: 10px solid $color-theme-03;
        }

        > .text-card {
          padding: 20px;

          > p {
            font-size: $font-size-base;
            line-height: $line-size-sm;
            color: $color-theme-02;
          }

          > h4 {
            font-size: $font-size-base;
            line-height: $line-size-sm;
            color: $color-theme-02;
          }
        }
      }
    }
    > .banner-duplo {
      flex: 1 1 300px;
      margin-left: 0;
      @include for-size(desktop-up) {
        margin-left: 20px;
        flex: 1 1 400px;
      }

      > .card {
        text-align: center;
        margin-bottom: 0;
        background-color: $color-theme-01;

        @include for-size(desktop-up) {
          margin-bottom: 20px;
          @include box-shadow-multiple(
            0 4px 10px 0 rgba(0, 0, 0, 0.2),
            0 4px 20px 0 rgba(0, 0, 0, 0.19)
          );
        }

        > .img-sm {
          width: 400px;
          height: 200px;
          border: 10px solid $color-theme-03;
        }

        > .img-md {
          width: 400px;
          height: 400px;
          border: 10px solid $color-theme-03;
        }
        > .text-card {
          padding: 20px;
          > p {
            font-size: $font-size-base;
            line-height: $line-size-sm;
            color: $color-theme-02;
            padding: 5px;
          }

          > h4 {
            font-size: $font-size-base;
            line-height: $line-size-sm;
            color: $color-theme-02;
          }
        }
      }
    }
  }
}

.shop-section {
  @include for-size(desktop-up) {
    margin-top: 500px;
    position: relative;
  }

  > .shop-card {
    display: flex;
    padding: 50px 40px;
    flex-wrap: wrap;
    @include for-size(desktop-up) {
      background-color: $color-theme-01;
      width: 70%;
      padding-right: 140px;
    }

    > .img-shop-card {
      flex: 1 1 300px;
      @include box-shadow(0px, 5px, 15px, rgba(0, 0, 0, 0.35));
      img {
        height: 400px;
        width: 100%;
      }
    }
    > .txt-shop-card {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 20px;
      width: 340px;
      flex: 1 1 400px;

      > p {
        font-size: $font-size-base;
        line-height: $line-size-sm;
        color: $color-theme-02;
      }

      > h3 {
        font-size: $font-size-md;
        color: $color-theme-02;
      }

      > .button-shop-card {
        margin-top: 20px;
        align-self: center;
        @include button(
          $font-size-base,
          $color-theme-02,
          250px,
          $color-theme-03
        );

        @include box-shadow(0px, 5px, 15px, rgba(0, 0, 0, 0.35));
        text-transform: uppercase;
      }
    }
  }

  > .slider-shop-card {
    display: none;
    width: 500px;
    height: 300px;
    @include for-size(desktop-up) {
      display: block;
      right: 0;
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    > .swiper-shop-card {
      height: 300px;
    }
  }
}

.instagram-section {
  text-align: center;
  margin-top: 30px;

  > h3 {
    font-size: $font-size-md;
    color: $color-theme-02;
  }

  > .post-instagram {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    > .post-item {
      flex: 1 1 250px;
      margin: 20px;

      > .post-item-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        background-color: $color-theme-01;
        @include box-shadow(0px, 5px, 15px, rgba(0, 0, 0, 0.35));
        > img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        > .text {
          padding: 30px;
          > p {
            font-size: $font-size-base;
            line-height: $line-size-sm;
            color: $color-theme-02;
          }
        }
      }
      @include for-size(tablet-landscape-up) {
        > .text-box {
          transform: translateY(50px);
        }
      }
    }
  }
}
